In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#Series is like array in numpy but it is labelled
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([8700000, 4300000, 300000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China       300000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [10]:
# Check which countries had casualities > 4000000(4 mil)
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
'USSR' in ww2_cas

True

In [12]:
'India' in ww2_cas

False

In [13]:
# Converting series into dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 300000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [14]:
# Converting it back to Series
ww2_series = Series(ww2_dict)
ww2_series

China       300000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [20]:
countries = ['China', 'Germany',  'Japan', 'USA', 'USSR', 'Argentina']

In [21]:
obj2 = Series(ww2_dict, index=countries)
obj2

China         300000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [22]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [24]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [26]:
ww2_series

China       300000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [27]:
obj2

China         300000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [28]:
ww2_series + obj2

Argentina           NaN
China          600000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [30]:
obj2.name = "World War 2 casualities"
obj2

China         300000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 casualities, dtype: float64

In [34]:
obj2.index.name = 'Countries'
obj2

Countries
China         300000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 casualities, dtype: float64