In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
my_ser = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [4]:
my_index[2]

'C'

In [5]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [ ]:
my_index[0] = 'Z'  #Not possible 'cause indexes are immutable'

#  Reindex

In [6]:
from numpy.random import randn

In [8]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [11]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [12]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [13]:
#Methods to fill values
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [16]:
ranger = range(15)
ranger

range(0, 15)

In [18]:
ranger[5]

5

In [19]:
ser3.reindex(ranger, method='ffill')  #ffill - forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [20]:
df = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])
df

       col1      col2      col3      col4      col5
A -0.292276  0.167291 -0.396368  0.112397  0.448278
B -0.166766  0.085063  0.261301  0.699503 -1.475173
D  1.840516 -0.767947  2.042286  0.833755  0.475696
E  0.750643 -0.809288 -0.030296 -1.666944  0.106409
F -2.173220  1.734483  0.661306 -0.621556  0.767617

In [21]:
#reindexing on a dataframe
df2 = df.reindex(['A','B','C','D','E','F'])
df2

       col1      col2      col3      col4      col5
A -0.292276  0.167291 -0.396368  0.112397  0.448278
B -0.166766  0.085063  0.261301  0.699503 -1.475173
C       NaN       NaN       NaN       NaN       NaN
D  1.840516 -0.767947  2.042286  0.833755  0.475696
E  0.750643 -0.809288 -0.030296 -1.666944  0.106409
F -2.173220  1.734483  0.661306 -0.621556  0.767617

In [22]:
#Reindexing columns in a dataframe
new_columns = ['col1','col2','col3','col4','col5','col6']
df2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.292276  0.167291 -0.396368  0.112397  0.448278   NaN
B -0.166766  0.085063  0.261301  0.699503 -1.475173   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.840516 -0.767947  2.042286  0.833755  0.475696   NaN
E  0.750643 -0.809288 -0.030296 -1.666944  0.106409   NaN
F -2.173220  1.734483  0.661306 -0.621556  0.767617   NaN

In [23]:
df

       col1      col2      col3      col4      col5
A -0.292276  0.167291 -0.396368  0.112397  0.448278
B -0.166766  0.085063  0.261301  0.699503 -1.475173
D  1.840516 -0.767947  2.042286  0.833755  0.475696
E  0.750643 -0.809288 -0.030296 -1.666944  0.106409
F -2.173220  1.734483  0.661306 -0.621556  0.767617

In [32]:
df.loc[['A','B','C','D','E','F'],new_columns]

C:\Users\Nalina Vadmal\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if __name__ == '__main__':

       col1      col2      col3      col4      col5  col6
A -0.292276  0.167291 -0.396368  0.112397  0.448278   NaN
B -0.166766  0.085063  0.261301  0.699503 -1.475173   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.840516 -0.767947  2.042286  0.833755  0.475696   NaN
E  0.750643 -0.809288 -0.030296 -1.666944  0.106409   NaN
F -2.173220  1.734483  0.661306 -0.621556  0.767617   NaN