In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('read_write.csv')
df

   q   r   s   t    apple
0  2   3   4   5     pear
1  a   s   d   f   rabbit
2  5   2   5   7      dog

In [5]:
df = pd.read_csv('read_write.csv', header=None)
df

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [10]:
df = pd.read_table('read_write.csv', sep=',', header=None)
df

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [11]:
pd.read_csv('read_write.csv', header=None, nrows=2)

   0   1   2   3       4
0  q   r   s   t   apple
1  2   3   4   5    pear

In [12]:
df.to_csv('mydata_out.csv')

In [13]:
import sys

In [14]:
df.to_csv(sys.stdout)

,0,1,2,3,4
0,q, r, s, t, apple
1,2, 3, 4, 5, pear
2,a, s, d, f, rabbit
3,5, 2, 5, 7, dog

In [15]:
df.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_ r_ s_ t_ apple
1_2_ 3_ 4_ 5_ pear
2_a_ s_ d_ f_ rabbit
3_5_ 2_ 5_ 7_ dog

In [16]:
df.to_csv(sys.stdout, sep='?')

?0?1?2?3?4
0?q? r? s? t? apple
1?2? 3? 4? 5? pear
2?a? s? d? f? rabbit
3?5? 2? 5? 7? dog

In [17]:
df.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q, r, s
1,2, 3, 4
2,a, s, d
3,5, 2, 5